[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitarray = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"
pytest = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.13"
